.orange{
    background-color: orangered;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.purple{
    background-color: purple;
}
.bold{
    font-weight: bold;
}